/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --red: rgb(215, 25, 25);
    --green: #42d392;

    /* Light theme colors */
    --vt-c-light-background: rgb(217, 217, 217);
    --vt-c-light-background-soft: rgb(173, 173, 173);
    --vt-c-light-background-mute: #d5b783;

    --vt-c-light-divider: rgba(84, 84, 84, 1);
    --vt-c-light-divider-hover: rgba(84, 84, 84, 1);

    --vt-c-light-text: #333333;
    --vt-c-light-text-soft: #666666;

    /* Cafe theme colors */
    --vt-c-cafe-background: rgba(235, 235, 235, 1);
    --vt-c-cafe-background-soft: rgba(235, 235, 235, 0.64);
    --vt-c-cafe-background-mute: #d5b783;

    --vt-c-cafe-divider: rgba(84, 84, 84, 0.65);
    --vt-c-cafe-divider-hover: rgba(84, 84, 84, 0.48);

    --vt-c-cafe-text: #ffffff;
    --vt-c-cafe-text-soft: #9b7556;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-black);
    --color-background-gradient: #6A5C3BFF;
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --section-gap: 160px;

    --primary-brass-gold: #AD7E37;
    --light-brass-gold: #DDB569;
    --dark-brass-gold: #8C591D;
}

html.light {
    --color-background: var(--vt-c-light-background);
    --color-background-gradient: #bb8e37;
    --color-background-soft: var(--vt-c-light-background-soft);
    --color-background-mute: var(--vt-c-light-background-mute);

    --color-border: var(--vt-c-light-divider);
    --color-border-hover: var(--vt-c-light-divider-hover);

    --color-heading: var(--vt-c-light-text);
    --color-text: var(--vt-c-light-text-soft);
}

html.dark {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
}

html.cafe {
    --color-background: var(--vt-c-cafe-background);
    --color-background-gradient: #a8997d;
    --color-background-soft: var(--vt-c-cafe-background-soft);
    --color-background-mute: var(--vt-c-cafe-background-mute);

    --color-border: var(--vt-c-cafe-divider);
    --color-border-hover: var(--vt-c-cafe-divider-hover);

    --color-heading: var(--vt-c-cafe-text);
    --color-text: var(--vt-c-cafe-text-soft);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: 'Minecraftia',
    sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(farthest-corner at 40px 40px, var(--color-background) 40%, var(--color-background-gradient) 100%);
}

br {
    user-select: none;
}