@import 'base.css';
@import url('https://fonts.cdnfonts.com/css/minecraftia');
#app {
  max-width: 1280px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0 75px; /* Cog icon margin */
}

:root {
  --minecraft-font: 'MinecraftiaRegular', sans-serif;
}

@media (max-width: 600px) {
  #app {
    padding: 0 0 75px 0; /* Cog icon margin in vertical devices */
  }
}
