@import 'base.css';
@import url('https://fonts.cdnfonts.com/css/minecraftia');
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  font-weight: normal;

}

body{
  font-family: 'Minecraftia', sans-serif;
}

:root {
  --minecraft-font: 'MinecraftiaRegular', sans-serif;
  --primary-brass-gold: #ad7f38;
  --light-brass-gold: #c9b198;
  --dark-brass-gold: #806642;
  --neutral-light: #f5f2ed;
  --neutral-dark: #504a40;
  --accent-color: #7a9e7e;
}

.main-button {
  background-color: var(--primary-brass-gold);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.1s, background-color 0.05s;
  cursor: pointer;
}

.main-button:hover {
  background-color: var(--light-brass-gold);
  transform: scale(1.01);
}