@import 'base.css';
@import url('https://fonts.cdnfonts.com/css/minecraftia');
#app {
  max-width: 1280px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0 75px; /* Cog icon margin */
}

:root {
  --minecraft-font: 'MinecraftiaRegular', sans-serif;
  --primary-brass-gold: #ad7f38;
  --light-brass-gold: #c9b198;
  --dark-brass-gold: #806a42;
  --neutral-light: #f5f2ed;
  --neutral-dark: #504a40;
  --accent-color: #7a9e7e;
}

@media (max-width: 600px) {
  #app {
    padding: 0 0 75px 0; /* Cog icon margin in vertical devices */
  }
}
